@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>

<ul>
    <li>@Html.ActionLink("Laptop", "Details", "Store" , new { product = "Laptop" }, null)</li>
    <li>@Html.ActionLink("Tablet", "Details", "Store", new { product = "Tablet" }, null)</li>
    <li>@Html.ActionLink("Desktop", "Details", "Store", new { product = "Desktop" }, null)</li>
    
</ul>
